@{
    ViewBag.Title = "About";
}


<div class="full-width-container block-1">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <header>
                    <h2><span>About Us</span></h2>
                    <h4> Just neighbors helping neighbors</h4>
                </header>
            </div>
 
            <div class="grid_7 preffix_1">
                <p>Neighborly is an orginization meant to acquaint you with your neighbors and be able to lend a helping hand. Knowing you have neighbors to count on will build a strong community that you feel safe in. This a volunteer based orginization meaning no transactions will be verified through Neighborly. Neighborly is an excellent tool for people seeking volunteer hours for school or any other personal reasons! We hope that this application tool will give submaritans a good feeling that there are people in the neighborhood willing to help. With any further questions refer to our FAQ page or contact Neighborly at (216) 630-6010.   </p>
                <!--<a href="#" class="btn">More</a>-->
            </div>
        </div>
    </div>
</div>