@{
//ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <br />
            <h3 class="AboutUsTitle">About Us </h3><br />
            <p class="AboutUsPgraph">
                Neighborly is an application meant to acquaint you with your neighbors and allow you to lend a helping hand. Knowing that you have neighbors to count on will help to build a strong community that you feel safe in. This is volunteer-only, meaning no monetary transactions will be verified through Neighborly.<br /> <br />

                Neighborly is an excellent tool for people seeking volunteer hours for school or any other personal reason! We hope that this tool will give Good Samaritans an opportunity to assist in the neighborhoods in which they live. If you have any further questions please refer to our FAQ page or contact Neighborly at (216) 630-6010.
            </p>
<<<<<<< HEAD
           
        </div>
        <div class="aboutPhoto">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <br />
                <img class="aboutPhoto" src="~/Content/lockHands.jpg" /> 
            </div>
=======

>>>>>>> 7a537d6ac6913ee8fac5ccf0d83c0cede800457f
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <br />
            <img class="aboutPhoto" src="~/Content/lockHands.jpg" />
        </div>

    </div>
<<<<<<< HEAD
</div>










@*<div class="full-width-container block-1">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <header>
                        <h2><span>About Us</span></h2>
                    </header>
                </div>
                <div class="grid_4">
                    <div class="img_container"><img src="~/Content/lockHands.jpg" class="aboutPhoto" /></div>
                </div>
                <div class="grid_7 preffix_1">
                    <p>Neighborly is an organization meant to acquaint you with your neighbors and be able to lend a helping hand. Knowing you have neighbors to count on will build strong relationships with your neighbors and an even stronger community that you feel safe in. This a volunteer based organization meaning no transactions will be verified through Neighborly. Neighborly is an excellent tool for people seeking volunteer hours for school or any other personal reasons! We hope that this application tool will give samaritans a good feeling that there are people in the neighborhood willing to help. With any further questions refer to our FAQ page or contact Neighborly at (216) 630-6010.</p>
                    <!--<a href="#" class="btn">More</a>-->
                </div>
            </div>
        </div>
    </div>*@
=======
</div>
>>>>>>> 7a537d6ac6913ee8fac5ccf0d83c0cede800457f
